<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}" class="notification">
    <div>
        <h2>{{name}}</h2>
        <p class="message">{{summary}}</p>
        <p class="time">{{timestamp}}</p>

        <i class="mark"></i>
    </div>
</li>

{{/elements}}

</ul>