<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}" class="working-hour element">
    <strong><span class="start_time-value">{{start_time}}</span> – <span class="end_time-value">{{end_time}}</span></strong><span><span class="matched_employees-value">0</span> of <span class="num_employees-value">{{num_employees}}</span></span>
</li>

{{/elements}}

</ul>