<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}" class="working-hour element">
    <div class="inner">
        <ul class="info">
            {{#groups}}
                <li class="group-{{pk}}">
                    <span class="available">{{available}}</span>/<span class="required">{{num_employees}}</span>
                </li>
            {{/groups}}
        </ul>
    </div>
</li>

{{/elements}}

</ul>