<div class="wireframe">
    <div class="side-container">
        <ul class="attributes">
            <li>
                <strong>{{#i18n}}Time{{/i18n}}</strong>
                <span>{{start_time}} {{#i18n}}to{{/i18n}} {{end_time}}</span>
            </li>
            <li>
                <strong>{{#i18n}}Status{{/i18n}}</strong>
                <span>{{available}}</span>
            </li>
            <li>
                <strong>{{#i18n}}Date{{/i18n}}</strong>
                <span>{{start_date}}{{end_date}}</span>
            </li>
            <li>
                <strong>{{#i18n}}Repeat{{/i18n}} </strong>
                <span>{{repeat}}</span>
            </li>
        </ul>
    </div>

    <ul class="columns weekdays">
        <li class="weekday">
            <i class="icon inline unchecked"></i>
            <i class="icon inline checked"></i>
        </li>

        <li class="weekday">
            <i class="icon inline unchecked"></i>
            <i class="icon inline checked"></i>
        </li>

        <li class="weekday">
            <i class="icon inline unchecked"></i>
            <i class="icon inline checked"></i>
        </li>

        <li class="weekday">
            <i class="icon inline unchecked"></i>
            <i class="icon inline checked"></i>
        </li>

        <li class="weekday">
            <i class="icon inline unchecked"></i>
            <i class="icon inline checked"></i>
        </li>

        <li class="weekday">
            <i class="icon inline unchecked"></i>
            <i class="icon inline checked"></i>
        </li>

        <li class="weekday">
            <i class="icon inline unchecked"></i>
            <i class="icon inline checked"></i>
        </li>
    </ul>

    <div class="edit-button">
        {{#i18n}}Edit{{/i18n}}
    </div>

    <div class="remove-button">
        {{#i18n}}Remove{{/i18n}}
    </div>
</div>