<ul>

{{#elements}}

<li id="element-view-{{pk}}-{{cid}}" class="working-hour element">
    <div class="element-container">
        <div class="strip"></div>

        <div class="info">
            <h2>
                <span>{{start_time}}</span> – <span>{{end_time}}</span> <em>({{deltaHours}} {{#i18n deltaHours}}hour|hours{{/i18n}})</em>
            </h2>

            <h2>
                <span>{{available}}</span>
            </h2>
        </div>
    </div>
</li>

{{/elements}}

</ul>